{% extends 'store/Base.html' %}
{% load static %}
{% load custom_filters %}

{% block content %}
<link rel="stylesheet" href="{% static 'assets/css/style/catogory.css' %}">

<div class="container">
    <nav aria-label="breadcrumb" class="breadcrumb-nav mb-2">
        <div class="container-fluid">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'store_app:allProdCat' %}">Home</a></li>
                {% if offer %}
                <li class="breadcrumb-item"><a href="#">Offer</a></li>
                {% else %}
                <li class="breadcrumb-item"><a href="#">Shop</a></li>
                {% endif %}
            </ol>
        </div><!-- End .container-fluid -->
    </nav><!-- End .breadcrumb-nav -->
    



    <div class="products">
        <div class="row justify-content-center">

            {% for product in products.object_list %}
            <div class="col-6 col-md-4 col-lg-2">
                <div class="product product-2">
                    {#{{product.get_url}}#}
                    <a href="{{product.get_url}}">
                        <div id="carouselExampleIndicators{{product.slug}}" class="carousel slide">

                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <div class="image-wrapper">
                                        <img src="{{ product.imageURL }}" class="home-product" alt="{{ product.name }}">
                                    </div>
                                </div>
                            </div>

                            {% if product.new == True %}
                            <span class="product-sale-label">NEW</span>
                            {% endif %}

                            {% if product.get_discounted_price %}
                            <span class="product-discount-label">{{ product.get_discounted_price.percentage }}%</span>
                            {% endif %}

                        </div>
                        <div class="carousel-product-info">
                            <div style="margin-left: 1rem; margin-top: 1rem; margin-bottom: .2rem;">
                                <h5 class="card-title cart-heading">{{ product.name }}</h3>

                                    <h6 class="pricing">
                                        
                                        <h6 class="text-muted mb-0 cart-heading">JEE Exam preparation book</h6>
                                        {% if product.stock <= 3 %}
                                        <strong style="color: rgb(199, 0, 85);">Only few left</strong><br>
                                        {% else %}
                                        <em class="related-product-publisher">DC Books</em>
                                        {% endif %}
                                        
                                        <div class="product-price">
                                            <strong class="related-product-price">Rs {{ product.new_price|strip_decimal }}</strong>
                                            {% if product.old_price == 0 %}
                                            {% else %}
                                            <strong class="text-muted related-product-price">-</strong>
                                            <strong class="text-muted related-product-price"><s>₹{{product.old_price|strip_decimal}}</s></strong>
                                            {% endif %}
                                        </div>
                                    </h6>
                                    

                            </div>
                        </div>
                    </a>
                    <button data-quantity="{{product.stock}}" data-product="{{product.id}}" data-action="add" class="btn btn-primary btn-lg btn-block add-to-cart add-btn update-cart">Add to Cart</button>

                </div>
            </div>
            {% endfor %}

        </div>
    </div>





</div>

{% endblock %}
