{% extends 'store/base.html' %}

{% block content %}

<div class="wishlist-container">
    <h2>My Wishlist</h2>
    {% if wishlist_items %}

<div class="products">
    {% for item in wishlist_items %}
    <div class="product product-sm">

        <figure class="product-media">
            <a href="{{item.product.get_url}}">
                <img src="{{ item.product.imageURL }}" alt="Product image"
                    class="product-image">
            </a>
        </figure>

        <div class="product-body">
            <h3 class="product-title"><a href="{{item.product.get_url}}">{{ item.product.name }}</a></h3>
            <h6 class="text-muted mb-0">JEE Exam preprestion book</h6>

            <div class="related-product-publisher">DC Books</div>
            <!-- New arriwel / best seller /  -->
            <!-- <div>New arriwel</div> -->

            <div class="product-price">
                <span class="related-product-price">Rs {{ item.product.new_price }}</span>

                {% if item.product.get_discounted_price %}
                <span class="text-success mb-0 ml-2">{{ item.product.get_discounted_price.percentage }}% off</span>
                {% endif %}

                <button onclick="removeFromWishlist({{ item.product.id }}, this)">Remove</button>

            </div>
        </div>

    </div>
    {% endfor %}

    {% else %}
    <div>
		<div class="text-center mb-3">
			<br>
			<h1>Your wishlist is empty.</h1>
			<p class="mt-4">Please click <a href="{% url 'store_app:allProdCat' %}"><b>here</b></a> to
				continue shopping.</p>
		</div>
	</div>
    {% endif %}

</div>

<script>
    function removeFromWishlist(productId, button) {
        const url = '{% url "store_app:remove_from_wishlist" %}';
        const wishlistCountElement = document.getElementById('wishlist-count');

        fetch(url, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{ csrf_token }}',
            },
            body: JSON.stringify({'productId': productId}),
        })
        .then(response => response.json())
        .then(data => {
            if (data.removed) {
                // Remove the product element from the DOM
                button.closest('.product').remove();

                // Update the wishlist count
                wishlistCountElement.textContent = data.wishlist_count;

                // If the wishlist is empty, show a message
                if (data.wishlist_count == 0) {
                    document.querySelector('.wishlist-container').innerHTML = '<p>Your wishlist is empty.</p>';
                }
            }
        });
    }
</script>

{% endblock %}
