{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel</title>
    <link rel="stylesheet" href="{% static 'CSS/admin_dashboard.css' %}">
</head>
<body>
    <div class="wrapper">
        <ul class="sidebar">
            <li style="padding: 0px;"><a style="padding: 20px;" href="{% url 'admin_app:dashboard' %}">Dashboard</a></li>
            <li style="padding: 0px;"><a style="padding: 20px;" href="{% url 'admin_app:category_list' %}">Categories Manage</a></li>
            <li style="padding: 0px;"><a style="padding: 20px;" href="{% url 'admin_app:product_list' %}">Products Manage</a></li>
            <li style="padding: 0px;"><a style="padding: 20px;" href="{% url 'admin_app:order_list' %}">Orders Pending</a></li>
            <li style="padding: 0px;"><a style="padding: 20px;" href="{% url 'admin_app:order_compleated' %}">Orders Completed</a></li>
            <li style="padding: 0px;"><a style="padding: 20px;" href="{% url 'admin_app:users_list' %}">Users List</a></li>
            <li style="padding: 0px;"><a style="padding: 20px;" href="{% url 'store_app:allProdCat' %}">Site Panel</a></li>
        </ul>
        <div class="container">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</body>
</html>
