{% extends 'admin_app/base_admin.html' %}

{% block content %}
<h1>Category List</h1>
<a href="{% url 'admin_app:category_create' %}">Add New Category</a>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for category in categories %}
        <tr>
            <td>{{ category.name }}</td>
            <td>
                <a href="{% url 'admin_app:category_update' category.pk %}">Edit</a>
                {% if category.num_products == 0 %}
                    <a href="{% url 'admin_app:category_delete' category.pk %}">Delete</a>
                {% else %}
                    <span class="disabled-span" style="color: #888888;cursor: not-allowed;opacity: 0.6;">Delete</span>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
