{% extends "base.html" %}
{% block content %}
<h1>Category List</h1>
<a href="{% url 'admin_app:category_create' %}">Add New Category</a>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for category in categories %}
        <tr>
            <td>{{ category.name }}</td>
            <td>
                <a href="{% url 'admin_app:category_update' category.pk %}">Edit</a>
                <a href="{% url 'admin_app:category_delete' category.pk %}">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
