{% extends 'admin_app/base_admin.html' %}
{% block content %}
<h1>Completed Order List</h1>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Customer</th>
            <th>Ordered</th>
            <th>Delivered</th>
            <th>Quantity</th>
            <th>Total</th>
            <th>State</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for order in orders %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ order.customer.name }}</td>
            <td>{{ order.date_ordered|date:"Y-m-d" }}</td>
            <td>{{ order.delivered_time|date:"Y-m-d" }}</td>
            <td>{{ order.total_quantity }}</td>
            <td>{{ order.get_cart_total }}</td>
            <td>
                {% if order.shipping_address %}
                {{ order.shipping_address.state }}
                {% else %}
                N/A
                {% endif %}
            </td>
            <td>{{ order.status }}</td>
            <td>
                <a href="{% url 'admin_app:order_view' order.pk %}">View</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
