{% extends 'admin_app/base_admin.html' %}
{% block content %}
<h1>Product List</h1>
<a href="{% url 'admin_app:product_create' %}">Add New Product</a>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Stock</th>
            <th>active</th>
            <th>Price</th>
            <th>category</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for product in products %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ product.name }}</td>
            <td>{{ product.stock }}</td>
            <td>{{ product.active }}</td>
            <td>{{ product.new_price }}</td>
            <td>{{ product.category.name }}</td>
            <td>
                <a href="{% url 'admin_app:product_update' product.pk %}">Edit</a>
                <!-- <a href="{#{% url 'admin_app:product_delete' product.pk %}#}">Delete</a> -->
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
