{% extends 'admin_app/base_admin.html' %}
{% block content %}
<style>
    .inactive { 
        color: red; }
    .low-stock { 
        color: red; }
    .filter-container {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
    }
    .filter-container select {
        margin-right: 10px;
        background: #007bff;
        color: #fff;
    }
</style>

<h1>Product List</h1>

<div class="filter-container">
    <form method="get" action="{% url 'admin_app:product_list' %}">
        <select name="category" onchange="this.form.submit()">
            <option value="">All Categories</option>
            {% for category in categories %}
                <option value="{{ category.id }}" {% if selected_category == category.id|stringformat:"s" %}selected{% endif %}>
                    {{ category.name }}
                </option>
            {% endfor %}
        </select>
    </form>
    <a href="{% url 'admin_app:product_create' %}" class="button">Add New Product</a>
</div>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Stock</th>
            <th>Active</th>
            <th>Price</th>
            <th>Category</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for product in products %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ product.name }}</td>
            <td class="{% if product.stock < 4 %}low-stock{% endif %}">{{ product.stock }}</td>
            <td class="{% if not product.active %}inactive{% endif %}">{{ product.active }}</td>
            <td>{{ product.new_price }}</td>
            <td>{{ product.category.name }}</td>
            <td>
                <a href="{% url 'admin_app:product_update' product.pk %}">Edit</a>
                <!-- <a href="{#{% url 'admin_app:product_delete' product.pk %}#}">Delete</a> -->
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
