{% extends 'admin_app/base_admin.html' %}

{% block content %}

<h2>Shipping Rates</h2>
<a href="{% url 'admin_app:shipping_rate_create' %}" class="button_proudct_list" style="margin-bottom: 10px;">Add New Shipping Rate</a>
<table class="table">
    <thead>
        <tr>
            <th>State</th>
            <th>Base Rate</th>
            <th>Additional Item Rate</th>
            <th>Actions</th>
            <th>Remove</th>
        </tr>
    </thead>
    <tbody>
        {% for rate in shipping_rates %}
        <tr>
            <td>{{ rate.state }}</td>
            <td>₹{{ rate.base_rate }}</td>
            <td>₹{{ rate.additional_item_rate }}</td>
            <td>
                <a href="{% url 'admin_app:shipping_rate_update' rate.pk %}" class="btn btn-sm btn-primary">
                    <button type="button" class="btn btn-primary">Edit</button>
                </a>
            </td>
            <td>
                <a href="{% url 'admin_app:shipping_rate_delete' rate.pk %}" class="btn btn-sm btn-danger">
                    <button type="button" class="btn btn-primary">Delete</button>
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}