{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'CSS/auth.css' %}">
</head>
<body>
    <div class="container">
        <h2>Login</h2>
        <form action="" method="post">
            {% csrf_token %}
            <label for="login_input">Username or E-mail</label>
            <input type="text" id="login_input" name="login_input" placeholder="Enter your Username or E-mail"><br>
            
            <label for="password">Password</label>
            <input type="password" id="password" name="password" placeholder="Enter your password"><br>
            
            <input type="submit" value="Login"><br>
        </form>
        <p class="register-link">Don't have an account? <a href="{% url 'auth_app:register' %}">Register here</a></p>
        {% for mes in messages %}
        <h2 class="message">{{mes}}</h2>
        {% endfor %}
    </div>
</body>
</html>
