{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="{% static 'CSS/auth.css' %}">
</head>
<body>
    <div class="container">
        <h2>Registration</h2>
        <form action="" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Register"><br>
        </form>
        <p class="login-link">Already have an account? <a href="{% url 'auth_app:login' %}">Login here</a></p>
        <p class="login-link">Explore Website <a href="{% url 'store_app:allProdCat' %}">Explore here</a></p>
        {% for mes in messages %}
        <h2 class="message">{{mes}}</h2>
        {% endfor %}
    </div>

    <!-- Add this script before the closing </body> tag -->
<script>
    document.querySelector('form').addEventListener('submit', function(event) {
        event.preventDefault();
        const contactNumber = document.getElementById('id_contact_number').value;
        const confirmation = confirm(`Please confirm your contact number: ${contactNumber}`);
        if (confirmation) {
            this.submit();
        } else {
            alert('Please correct your contact number.');
        }
    });
</script>

</body>
</html>
